<a href="https://colab.research.google.com/github/irawan09/Deep_Learning_class/blob/main/Class_DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import tensorflow as tf
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [5]:

tf.compat.v1.enable_eager_execution()

np.random.seed(seed=10)

url = 'https://raw.githubusercontent.com/irawan09/Deep_Learning_class/main/data_iris.csv'
df = pd.read_csv(url, sep=';', error_bad_lines=False)

df.head()

   Sepal length  Sepal width  Petal length  Petal width  Species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.3        1

In [10]:
df.describe()

       Sepal length  Sepal width  Petal length  Petal width     Species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.200000    2.000000
std        0.828066     0.435866      1.765298     0.761401    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000